.modal-delete {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(21, 22, 25, 0.5);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal-delete--night {
  background: rgba(124, 129, 135, 0.5);
}

.modal-delete__window {
  background-color: var(--color-100);
  border-radius: 4px;
  padding: 24px;
  max-width: 343px;
}

.modal-delete--night .modal-delete__window {
  background-color: var(--color-900);
}

.modal-delete__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-700);
  margin-bottom: 16px;
}

.modal-delete--night .modal-delete__header {
  color: var(--color-100);
}

.modal-delete__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-500);
  margin-bottom: 16px;
}

.modal-delete--night .modal-delete__text {
  color: var(--color-400);
}

.modal-delete__button {
  cursor: pointer;
  background-color: var(--color-orange);
  width: 295px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 12px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--color-100);
}

.modal-delete__button:hover {
  background-color: var(--color-orange-hover);
}
